* {
  font-family: "Trebuchet MS";
  box-sizing: border-box;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  transition: 0.3s
}


@font-face {
  font-family: "ExoThin";
  src: url(../../fonts/Exo2.0-Thin.otf);
  src: url(../../fonts/Exo2.0-Thin.ttf) format("truetype");
  src: url(../../fonts/Exo2.0-Thin.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

.shadow {
  width: 100%;
  position: relative;
  overflow: auto;
  min-height: 100%;
  display: table;
}

.wrap {
  background-image: url(../../img/Pattern.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}

.title {
  color: #fff;
  font-family: "ExoThin";
  font-size: 36px;
  font-weight: 400;
  margin: 0px auto 23px;
  text-align: center;
  width: 100%;
  padding: 0px 15px;
}

.block-line {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  min-height: 534px;
  flex-wrap: wrap;
  flex-direction: column;
  width: fit-content;
}



@media screen {
  .block-line{
    flex-direction: row;
    width: 100%;
  }
}