
.el {
  position: relative;
  min-width: 320px;
  padding-bottom: 30px;
  margin: 0px 10px;
  float: left;
}

.main {
  border-radius: 0px 0px 12px 12px;
  background: #fff;
  min-width: 320px;
  border: 4px solid #1698d9;
  border-top: none !important;
  position: relative;
  margin-bottom: 14px;
  background-image: url(../../img/cat.png);
  background-size: 365px;
  background-position: -26px bottom;
  background-repeat: no-repeat;
  cursor: pointer
}

.weight {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  bottom: 12px;
  right: 12px;
  padding-top: 15px;
  background-color: #1698d9;
}

.weight p {
  text-align: center;
  color: #fff;
}

.weight p:nth-child(1) {
  font-size: 42px;
  line-height: 34px;
}

.weight p:nth-child(2) {
  font-size: 22px;
}

.top-border {
  border-left: 43px solid transparent;
  border-bottom: 43px solid #1698d9;
  border-top-right-radius: 11px;
  width: 100%;
}

.top {
  width: calc(100% - 8px);
  border-bottom: 40px solid #fff;
  border-left: 40px solid transparent;
  border-top-right-radius: 8px;
  position: absolute;
  top: 4px;
  left: 4px;
}

.text {
  margin-bottom: 281px;
  padding-left: 44px;
  position: relative;
  top: -22px;
  padding-right: 15px;
}

.sub {
  margin-bottom: 5px;
  color: #666;
}

.sub-h {
  margin-bottom: 5px;
  display: none;
  color: #e62e7a;
}

.name {
  font-size: 50px;
  margin-bottom: -3px;
}

.taste {
  font-size: 25px;
  margin-bottom: 12px;
}

.ammount {
  font-size: 14px;
  color: #666;
}

.catBack {
  background-image: url(/img/cat.png);
  background-size: contain;
  background-position: -27px 175%;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -16px;
  width: 100%;
  height: 360px;
}

.gift {
  font-size: 14px;
  color: #666;
}

.subtext {
  color: #fff;
  text-align: center;
  font-size: 13px;
}

.subtext b {
  font-weight: 700;
  color: #1698d9;
  text-decoration: underline;
  text-decoration-style: dashed;
  cursor: pointer;
}

.subtext-s {
  display: none;
  color: #fff;
  text-align: center;
  font-size: 13px;
}

.subtext-d {
  display: none;
  color: #ffff66;
  text-align: center;
  font-size: 13px;
}

.el:hover .top-border {
  border-bottom: 43px solid #2ea8e6;
}

.el:hover .main {
  border: 4px solid #2ea8e6;
}

.el:hover .weight {
  background-color: #2ea8e6;
}

.el.selected .top-border {
  border-bottom: 43px solid #d91667;
}

.el.selected .main {
  border: 4px solid #d91667;
  border-top: none !important;
}

.el.selected .weight {
  background-color: #d91667;
}

.selected .subtext {
  display: none;
}

.selected .subtext-s {
  display: block;
}

.el.selected:hover .top-border {
  border-bottom: 43px solid #e62e7a;
}

.mouseout.selected:hover .sub {
  display: none;
}

.mouseout.selected:hover .sub-h {
  display: block;
}

.el.selected:hover .main {
  border: 4px solid #e62e7a;
}

.el.selected:hover .weight {
  background-color: #e62e7a;
}

.disabled .top-border {
  border-bottom: 43px solid #b3b3b3 !important;
}

.disabled .main {
  border: 4px solid #b3b3b3 !important;
  border-top: none !important;
}

.disabled .main::after {
  content: '';
  display: block;
  width: 100%;
  height: 270px;
  opacity: 0.7;
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  border-radius: 0px 0px 12px 12px;
}

.disabled .weight {
  background-color: #b3b3b3 !important;
  z-index: 6;
}

.disabled .main::after {
  content: '';
  display: block;
  width: calc(100%);
  height: calc(100% + 22px);
  opacity: 0.7;
  position: absolute;
  bottom: 0px;
  z-index: 5;
  top: -22px;
  border-top-left-radius: 50px;
}

.disabled .subtext {
  display: none;
}

.disabled .subtext-s {
  display: none;
}

.disabled .subtext-d {
  display: block;
}